/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Insert Code Here/////////////////////////////////////////////////////////////////////////////////*/
*{
	text-decoration: none;
}


::-webkit-scrollbar {
   width: 5px;          
}
 
::-webkit-scrollbar-thumb {   
  border-radius: 10px;
  background: -webkit-gradient(linear,left top,left bottom,from(#11c295),to(#11c295));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
 
::-webkit-scrollbar-track {     
  background-color: white;
  background: linear-gradient(to right,white,white 1px,white 1px,white);
}
  body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 1000px;
    width: 100%;
  }
 
/*body {
	background-color: #f3f3f3;
}*/

header {
	background-color: #fff;
	width: 100%;
	height: 100px;
	/*background: rgba(0,0,0,0.2);*/
	
}


header .header-brand{
	font-family: Catamaran;
	font-size: 24px;
	font-weight: 900;
	color: #111;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;

}

header nav ul{
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li{
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0 16px;
	
}

header nav ul li a{
	font-family: Catamaran;
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
	
}

header nav ul li a:hover{
	color: #11c295;
}



header .header-cases{
	display: none;
}

/*////////////////////////////////////////////////////1000px//////////////////////////////////////////////////*/
@media only screen and (min-width: 1000px){
	header .header-brand{
	margin: 31px 0;
	text-align: left;
	line-height: 38px;
	padding: 0px 20px 0px 40px;
	border-right: 3px solid #111;
	float: left;
	}

header nav ul{
	margin: 20px 0 0 20px;
	float: left;
}


header nav ul li a{
	line-height: 60px;
	}


header .header-cases{
	display: block;
	font-family: Catamaran;
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
	line-height: 38px;
	border: 1px solid #111;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	padding: 0 20px;
	}

	.change_content:after{
	content:"";
	animation: changetext 10s infinite linear;
	color: #11c295;
	text-transform: uppercase;
}

@keyframes changetext{
	0% {content:"Hotel";}
	20% {content:"Resort";}
	35% {content:"Casino";}
	60% {content:"Spa";}
	80% {content:"Activity Hall";}
	100% {content:"Amusements";}
}

}


/*INDEX*/

.index-banner {
	width: 100%;
	height: calc(100vh - 100px);
	background-image: url(../images/gallery.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
	padding-bottom: 30px;
	
}

.aqua{
	width: 100%;
	height: calc(40vh - 100px);
	background: #11c295;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}

.aqua h2{
	font-family: Catamaran;
	font-size: 30px;
	font-weight: 900;
	line-height: 70px;
	color: #fff;
	text-align: center;
	
}

.aqua h3{
	font-family: Catamaran;
	font-size: 30px;
	font-weight: 900px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	
}

.aqua h1{
	font-family: Catamaran;
	font-size: 15px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	line-height: 40px;
	padding: 
}
.blue{
	width: 100%;
	height: calc(100vh - 100px);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}


/*
.hero-section{
	width: 100%;
	height: calc(180vh - 100px);
	background:white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/



.blue h1 {
	font-family: Catamaran;
	font-size: 60px;
	font-weight: 900;
	line-height: 70px;
	color: #11c295;
	text-align: center;
	padding-top: 20px;
	
}

h1 {
  text-align:center;
}
.container {
  width:90%;
  margin:0 auto;
}
input[type="radio"] {
    display:none;
}
label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
  font-size: 10px;

}
input[type="radio"][id="blue"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="red"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="green"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
 
.blue1{
	background-image: url(../images/activity1.jpg);
	background-size: cover;
}

.blue3{
	background-image: url(../images/activity2.jpg);
	background-size: cover;
}

.blue5{
	background-image: url(../images/activity3.jpg);
	background-size: cover;
}
.blue7{
	background-image: url(../images/activity4.jpg);
	background-size: cover;
}

.blue13{
	background-image: url(../images/activity5.jpg);
	background-size: cover;
}

.blue14{
	background-image: url(../images/activity6.jpg);
	background-size: cover;
}

.red2{
	background-image: url(../images/exp1.jpg);
	background-size: cover;
}

.red6{
	background-image: url(../images/exp2.jpg);
	background-size: cover;
}

.red9{
	background-image: url(../images/exp3.jpg);
	background-size: cover;
}

.red11{
	background-image: url(../images/exp4.jpg);
	background-size: cover;
}

.red16{
	background-image: url(../images/exp5.jpg);
	background-size: cover;
}

.green4{
	background-image: url(../images/exp6.jpg);
	background-size: cover;
}

.green8{
	background-image: url(../images/met1.jpg);
	background-size: cover;
}

.green10{
	background-image: url(../images/met2.jpg);
	background-size: cover;
}

.green10{
	background-image: url(../images/met2.jpg);
	background-size: cover;
}

.green12{
	background-image: url(../images/met3.jpg);
	background-size: cover;
}
.green15{
	background-image: url(../images/met4.jpg);
	background-size: cover;
}



.box {
  width:23%;
  height:200px;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
  line-height: 100px;
}


/*//////////////////////////////////////560px//////////////////////////////////////////////////////////////*/
@media(min-width: 540px){

 
  .aqua{
	width: 100%;
	height: calc(100vh - 100px);
	background: #11c295;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}



.aqua h3{
	font-family: Catamaran;
	font-size: 40px;
	font-weight: 900px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	
}

.aqua h1{
	font-family: Catamaran;
	font-size: 30px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	line-height: 40px;
	}
	footer {
	width: calc(100% - 80px);
	padding: 40px 40px;
	background-color: white;
	margin-top: 20px;
	overflow: hidden;
	

}

footer ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li {
	display: block;
	list-style: none;

}

footer ul li a {
	font-family: Catamaran;
	font-size: 24px;
	color: black;
	line-height: 40px;
}

.footer-links-cases{
	display: none;
}

.footer-sm{
	width: 50px;
	float: right;

}

.footer-sm a i {
	width: 100%;
	margin-bottom: 10px;
	font-size: 40px;
	color: black;
}

.wrapper .footer-bottom{
	background: white;
	color: black;
	height: 30px;
	width: 100%;
	text-align: center;
	
	
}

}
 
 /*////////////////////////////////////////////////////960px/////////////////////////////////////////////////////*/
@media(min-width: 960px){
  .cgrid{
    grid-template-columns: repeat(4, 1fr); 
  }

.aqua{
	width: 100%;
	height: calc(50vh - 100px);
	background: #11c295;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}



.aqua h3{
	font-family: Catamaran;
	font-size: 40px;
	font-weight: 900px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	
}

.aqua h1{
	font-family: Catamaran;
	font-size: 25px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	line-height: 40px;
	}
	
}
 




/*CHANGE CONTENT*/
.change_content:after{
	content:"";
	animation: changetext 10s infinite linear;
	color: #11c295;
	text-transform: uppercase;
}

@keyframes changetext{ 
	0% {content:"Hotel";}
	20% {content:"Resort";}
	35% {content:"Casino";}
	60% {content:"Spa";}
	80% {content:"Activity Hall";}
	100% {content:"Amusement Park";}
}


.vertical-center {
	display: table-cell;
	vertical-align: middle;
}


.index-banner h2 {
	font-family: Catamaran;
	font-size: 60px;
	font-weight: 900;
	line-height: 70px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 8px #111;
	
}

.index-banner h1 {
	font-family: Cormorant Garamond;
	font-size: 28px;
	font-weight: 100;
	font-style: italic;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 8px #111;
	line-height: 40px;
}


.index-links div {
	margin: 16px 16px 0;
	width: calc(100% - 32px);
	height: 100px;
	background-color: #f2f2f2;
}


.index-links div h3{
	font-family: Catamaran;
	font-size: 28px;
	font-weight: 600;
	color: #111;
	text-align: center;
	line-height: 100px;
	text-transform: uppercase;
}


.index-links div h3:hover {
	color: #fff;

}

.index-links div h3{
	color: #111;
}

.box1{
	background-image: url(../images/hotel.jpg);
	background-size: cover;
}


.box2{
	background-image: url(../images/resort.jpg);
	background-size: cover;
}

.box3{
	background-image: url(../images/casino.jpg);
	background-size: cover;
}

.box4{
	background-image: url(../images/hall.jpg);
	background-size: cover;
}

.box5{
	background-image: url(../images/spa.jpg);
	background-size: cover;
}

.box6{
	background-image: url(../images/amusement.jpg);
	background-size: cover;
}

.box1:,
.box2:,
.box3:,
.box4:,
.box5:,
.box6:{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover{
 -webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
transform: rotate(-10deg);
}

@media only screen and (min-width: 1000px){
	.wrapper{
		width: 1000px;
		margin: 0 auto;
	}
	.index-banner {
	width: 100%;
	height: 100vh;
	
	}

	.index-banner h1{
	display: block;
	width: 560px;
	margin: 0 auto;
	}

.index-links {
overflow: hidden;
}

	.index-links div {
	margin: 20px 10px 0;
	height: 230px;
	background-color: #f2f2f2;
	float: left;
}

.index-boxlink-square{
 		width: calc(25% - 20px)!important;
 	}

 	.index-boxlink-rectangle{
 		width: calc(50% - 20px)!important;
 	}

 .index-links div h3{
	line-height: 230px;
	}

}




h1 {
  text-align:center;
}
.container {
  width:90%;
  margin:0 auto;
}
input[type="radio"] {
    display:none;
}
label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
  font-size: 10px;

}
input[type="radio"][id="blue"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="red"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="green"]:checked + label {
  background:#11c295;
}
input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
 
.blue1{
	background-image: url(../images/activity1.jpg);
	background-size: cover;
}

.blue3{
	background-image: url(../images/activity2.jpg);
	background-size: cover;
}

.blue5{
	background-image: url(../images/activity3.jpg);
	background-size: cover;
}
.blue7{
	background-image: url(../images/activity4.jpg);
	background-size: cover;
}

.blue13{
	background-image: url(../images/activity5.jpg);
	background-size: cover;
}

.blue14{
	background-image: url(../images/activity6.jpg);
	background-size: cover;
}

.red2{
	background-image: url(../images/exp1.jpg);
	background-size: cover;
}

.red6{
	background-image: url(../images/exp2.jpg);
	background-size: cover;
}

.red9{
	background-image: url(../images/exp3.jpg);
	background-size: cover;
}

.red11{
	background-image: url(../images/exp4.jpg);
	background-size: cover;
}

.red16{
	background-image: url(../images/exp5.jpg);
	background-size: cover;
}

.green4{
	background-image: url(../images/exp6.jpg);
	background-size: cover;
}

.green8{
	background-image: url(../images/met1.jpg);
	background-size: cover;
}

.green10{
	background-image: url(../images/met2.jpg);
	background-size: cover;
}

.green10{
	background-image: url(../images/met2.jpg);
	background-size: cover;
}

.green12{
	background-image: url(../images/met3.jpg);
	background-size: cover;
}
.green15{
	background-image: url(../images/met4.jpg);
	background-size: cover;
}


.box {
  width:23%;
  height:200px;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
  line-height: 100px;
}
}




/*FOOTER*/
footer {
	width: calc(100% - 80px);
	padding: 40px 40px;
	background-color: white;
	margin-top: 20px;
	overflow: hidden;
	

}

footer ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li {
	display: block;
	list-style: none;

}

footer ul li a {
	font-family: Catamaran;
	font-size: 24px;
	color: black;
	line-height: 40px;
}

.footer-links-cases{
	display: none;
}

.footer-sm{
	width: 50px;
	float: right;

}

.footer-sm a i {
	width: 100%;
	margin-bottom: 10px;
	font-size: 40px;
	color: black;
}

.wrapper .footer-bottom{
	background: white;
	color: black;
	height: 30px;
	width: 100%;
	text-align: center;
	
	
}

@media only screen and (min-width: 1000px){
.footer-links-cases{
	display: block;
	}

	footer ul {
	padding-right: 30px;
}

footer ul li p {
	font-family: Catamaran;
	font-size: 24px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	}
	label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
  font-size: 20px;
	}
	footer {
	width: calc(100% - 80px);
	padding: 40px 40px;
	background-color: white;
	margin-top: 20px;
	overflow: hidden;
	

}

footer ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li {
	display: block;
	list-style: none;

}

footer ul li a {
	font-family: Catamaran;
	font-size: 24px;
	color: black;
	line-height: 40px;
}


.footer-sm{
	width: 50px;
	float: right;

}

.footer-sm a i {
	width: 100%;
	margin-bottom: 10px;
	font-size: 40px;
	color: black;
}

.wrapper .footer-bottom{
	background: white;
	color: black;
	height: 30px;
	width: 100%;
	text-align: center;
	
}

.contact{
	color: #fff;

}



/*
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;
	height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

nav .logo{
	width: 25%;
	text-align: center;
}

nav .menu{
	width: 40%;
	display: flex;
	justify-content: space-around;

}

nav .menu a{
	width: 25%;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

nav .menu a:hover{
	color: #11c295;

}

main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;

}

section h3{
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;

}

section h1{
	margin: 30px 0 20px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

section	p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}

section	.btn1{
	/*background-color: #11c295;*/
	background: white;
	color: #000;
}

.btn1:hover{
	background: #11c295;
	color: white;

}

section .btn2{
	background: #11c295;
	color: white;
}

.btn2:hover{
	background: white;
	color: #000;
}


