


::-webkit-scrollbar {
   width: 5px;          
}
 
::-webkit-scrollbar-thumb {   
  border-radius: 10px;
  background: -webkit-gradient(linear,left top,left bottom,from(#11c295),to(#11c295));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
 
::-webkit-scrollbar-track {     
  background-color: white;
  background: linear-gradient(to right,white,white .5px,white .5px,white);
}
  body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 100px;
    width: 100%;
  }
 
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,700')

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Catamaran', sans-serif;
	/*color: #222;*/
}

.navbar{
	padding: .8rem;

}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}


.carousel-inner img{
	width: 100%;
	height: 100%;

}


.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 500%;
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
	
}



.carousel-inner button{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

.carousel-inner .btn1{
	/*background-color: #11c295;*/
	background: white;
	color: #000;
	border: none;
}

.btn1:hover{
	background: #11c295;
	color: white;

}

.carousel-inner .btn2{
	background-color: #11c295;
	border: none;
	color: white;
}

.btn2:hover{
	background: white;
	color: #000;
}


.jumbotron{
	padding: 1rem;
	border-radius: 0;
}

.padding{
	padding-bottom: 2rem;
}


.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.fa-code{
	color: #e54d26;
}
.fa-bold{
	color: #563d7c;
}

.fa-css3-alt{
	color: #2163af;
}

.fa-code, .fa-bold, .fa-css3-alt{
	font-size: 4em;
}

.fun{
	padding: 5px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
	width: 100%;
	margin-bottom: 2rem;
	background-color: #c8d0d8;
	color: #111;
}

.gif{
	max-width: 100%;
}

.social a {
	font-size: 4.5rem;
	padding: 3rem;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-google-plus-g{
	color: #dd4b39;
}

.fa-instagram{
	color: #517fa4;
}

.fa-youtube{
	color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
	color: #11c295;
}

footer{
	background-color: white;
	padding-top: 2rem;
}

hr .light{
	border-top: 1px solid;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}


hr .light-100{
	border-top: 1px solid;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;

}


/*Media Queries*/

@media (max-width: 992px){
.social a{
	font-size: 4em;
	padding: 2rem;
	}
}
@media (max-width: 768px){

.carousel-caption{
	top: 45%;
	
}

.carousel-caption h1{
	font-size: 100%;
}

.carousel-caption h2{
	font-size: 150%;
}

.carousel-caption h3{
	font-size: 100%;
	word-spacing: 2px;
	margin-bottom: 25px;
	
}

.btn:hover{
	color: #11c295;
}


.display-4{
	font-size: 200%;
}

.social a{
	font-size: 2.5em;
	padding: 1.2rem;
	}
}



@media (max-width: 576px){
.carousel-caption{
top: 30%;
	
}

.carousel-caption h1{
	font-size: 100%;
}

.carousel-caption h2{
	font-size: 80%;
}
.carousel-caption h3{
	font-size: 50%;
	word-spacing: 2px;
	margin-bottom: 10px;
	}

.carousel-caption button{
	font-size: 10%;
	padding: 0px 4px;
}
}

/*Firefox Bug Fix*/
.carousel-item{
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease,-webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

/*Fixed Background Image*/
figure{
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}

.fixed-wrap{
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0
	width: 100%;
	height: 100%;
}

#fixed {
	background-image: url(../images/blur.jpg);
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
}

/*Bootstrap Padding Fix*/
[class*="col"] {
	padding: 1rem;
}














/*Extra small (xs) device (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { . . . }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { . . . }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { . . . }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { . . . }*/