* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
 
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
 
@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}
.container {
  background-image: url(../images/background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;

}
 
.button {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #11c295;
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
  font-family: Catamaran;
  border: none;

}
 
 .button:hover{
  background-color: white;
  color: #11c295;
 }

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}
.popupphoto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.popupphoto img {
  width: 100%;
  height: 100%;
}
.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popuptext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
  text-align: center;

}
.popuptext p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;

}
 
.popuptext a {
	text-decoration: none;
	color:  #11c294;
  background-color:white;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}

.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #11c295;
  z-index: 4;
  color: white;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}


.closepopup:hover{
  background-color: white;
  color: #11c295;
}
