* {
    box-sizing: border-box;
}
 

 ul {
	width: fit-content;
	float: left;
	padding-left: 20px;
}

 ul li {
	display: block;
	list-style: none;

}

 ul li a {
	font-family: Catamaran;
	font-size: 16px;
	color: black;
	line-height: 40px;
	text-decoration: none;
}



body {
    background: white;
    color: black;
    line-height: 1.6;
  font-family: Catamaran;
    padding: 1em;
}
 
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
 
ul {
    list-style: none;
    padding: 0;
}
 
.maint {
    text-align: center;
	color: black;
}
.section {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
 
.section > * {
    padding: 1em;
}
 
.brandname {
    background: #11c295;
}
 
.brandname h3, .brandname ul {
    text-align: center;
    margin: 0 0 1rem 0;
}
 
.contact {
    background: #f9feff;
}
 
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
 
.contact form label {
    display: block;
}
 
.contact form p {
    margin: 0;
}
 
.contact form .full {
    grid-column: 1 / 3;
}
 
.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}
 
.contact form button {
    background: #11c295;
    border: 0;
    text-transform: uppercase;
}
 
.contact form button:hover, .contact form button:focus {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 0.5s ease-out;
}
 

.social a {
    font-size: 30px;
    padding: 5px;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-google-plus-g{
    color: #dd4b39;
}

.fa-instagram{
    color: #517fa4;
}

.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: white;
}

/* LARGE SCREENS */
@media(min-width:700px) {
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
 
    .section > * {
        padding: 2em;
    }
 
    .compnay-info h3, .brandname ul, .maint {
        text-align: left;
    }
}